@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Arial', serif;
    box-sizing: border-box;
}

:root {
    --orange: #FE992A;
    --white: #ffffff;
    --red:#E56C69;
    --grey:#737C85;
    --lightergrey:#EAEAEA;
    --blur-orange:#FFBA6E;
  }
  

.lato{
    font-family: "Lato",serif;
}
body{
    overflow-x: hidden;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    align-items: center;
    display: flex;
    padding:25px 21px;
}
.container{
    padding: 100px 280px 100px 280px;
}
.logo-area{
    position: absolute;
}
.logo{
    width: 73px;
    height: 73px;
}
.menu-icons{
    display: none;
}
.menu{
  margin-left: 250px;
  width: 718px;
  display: flex;
  justify-content: space-between;
}
.menu li{
    position: relative;
    padding: 5px 10px;
}
.menu li,.menu a{
    font-size: 15px;
    display: inline-block;
    font-weight: bold;
    transition: all .5s;
}

.menu a {
    padding: 10px 20px;
    font-family: "Lato",serif;
    text-decoration: none;
    color: #fff;
}
.menu li:hover {
    background-color:rgb(243, 128, 128);
    color: #000;
}
.menu li:hover a{
    color: #000;
}
.menu .arrow{
    color: white;
}
.submenu .arrow{
    color: black;
}
.submenu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.submenu{
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    transition: all .5s;
    opacity: 0;
    background-color: white;
    transform: translateY(-30px);
    visibility: hidden;
}
.menu li:hover .submenu{
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}
.submenu-2{
    position: absolute;
    background-color: white;
    left: 100%;
    top: 0;
    width: 100%;
    opacity: 0;
    transform: translateX(-30px);
    transition: all .5s;
    visibility: hidden;
}
.submenu li:hover .submenu-2{
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
}

.hero{
    background-image: url("image/Slide.jpg");
    width: 100vw;
    background-size: cover;
    height: 914px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
.hero-text{
    width: 403px;
   
}

.hero-text h1{
    font-size: 52px;
    margin-bottom: 20px;
    font-weight: lighter;
}
.hero-text .main-text,.hero-text .sub-text{
    font-family: "Lato",serif;
    line-height: 25px;
    font-size: 14px;
}
.slider{
    display: flex;
    height: 520px;
    position: relative;
    transform: translateY(-50px);
    background-color: white;

}
.slider::before{
    content:"";
    left: 0;

    background-color: white ;
    width: 100%;
    transform:skew( 0deg,1deg);
    top:-40px;
    border-radius: 25% 100% 0% 0% / 0% 6% 0% 0% ;

    z-index: -1;
    height: 100%;
    position: absolute;
}
.slider::after{
    content:"";
    left: 0;

    background-color: rgba(255, 255, 255, 0.5) ;
    width: 100%;
    transform:skew( 0deg,1deg);
    top:-60px;
    z-index: -1;
    height: 100%;

    position: absolute;
}

.slide-text{
    position: relative;
    font-family: "Lato",serif;
    font-style: italic;
    line-height: 28px;
}
.slide-text::before{
    content: '"';
    content: url(/image/openq-q.svg);

    margin:-40px 0;
    position: absolute;
}
.slide-text::after{
    content: url(/image/close-q.svg);
    margin:10px 0;
    position: absolute;
}
.slider-left{
    border-right: 1px solid var(--lightergrey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-style: italic;
    color: var(--orange);
    font-size: 20px;
    width: 290px;
    padding-right: 40px;
}


.slide-btn{
    display: flex;
    
    width: 100%;
    padding-bottom: 20px;
    justify-content: flex-end;
}
.btn-arrow-left,.btn-arrow-right{
    width: 30px;
    cursor: pointer;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    height: 30px;
}
.btn-arrow-left{
    background-color:var(--orange);

}
.btn-arrow-right{
    background-color: var(--blur-orange)
}

.slider-right{
    width: 590px;
    margin-left: 50px;
}
.slider-right .title{
    font-weight: lighter;
    color: var(--orange);
    font-weight: lighter;
    margin-bottom: 20px;

    font-size: 24px;
    
}
.slider-right p{
    line-height: 28px;
    color: var(--grey);
    font-size: 14px;
}
footer{
    width: 100vw;
    height: 474px;
    display: flex;
    background-color: var(--red);
}
.footer{
    padding-top: 50px;

}
.getintouch{
    width: 290px;
    padding-right: 40px;
    font-size: 12px;

        color: white;
}
.getintouch p{
    margin-bottom: 18px;
}
.contact{
    margin-bottom: 36px;

}
.address h3{
    margin-bottom: 18px;

}
.address a{
    color: white;
    text-decoration: none;
}
.footer-menu{
    margin-left: 30px;

    width: 590px;
    display: flex;
    justify-content: space-between  ;
}
.footer-menu-item{
    padding: 0 20px;
    font-size: 14px;
}
.footer-menu-item ul{
    list-style: none;
}
.footer-menu-item h3{
    font-family: "Droid Sans",serif;
    font-size: 12px;
    color: white;
    margin-bottom: 18px;


}
.footer-menu-item li{

    margin-bottom: 18px;
    font-size: 12px;

}
.footer-menu-item a{
    color: white;
    font-family: "Droid Sans",serif;

    text-decoration: none;
}

@media screen and (max-width:1200px) {
    .menu{
        margin-left: 130px;
    }
    .container{
        padding: 100px;
    }
    .hero{
        height: 100vh;
    }
    .hero-text{
        width: 100%;

    }
    .hero-text h1{
        width: 100%;
    }
    .slider{
        height: 100%;
        flex-direction: column;
    }
    .slider-left{
        width: 100%;
        border-right: none;
        margin-bottom: 30px;
        border-bottom: 1px solid #ccc;
    }
    .slide-btn{
        justify-content: flex-start;
        margin-top: 40px;
    }
    .slider-left{
        display: flex;
        flex-direction: column;

    }
    .slider-right{
        width: 100%;
        margin-left: 0;
    }
    
    .getintouch{
        margin-bottom: 50px;
    }
    .footer{
        height: 100%;
    }
    .footer-menu{
        margin: 0;
    }
    .footer-menu{
        display: flex;
        justify-content: space-between;
    }
    .footer-menu-item{
        padding: 0px;
    }
}
@media screen and (max-width:878px) {
    header{
        position: fixed;
        padding: 0;
        background-color: ivory;
        height: 75px;
    }
   .menu-icons{
        color: black;
    }
    .menu-icons{
        display: block;
        position: fixed;
        font-size: 25px;
        top: 30px;
        right: 20px;
        cursor: pointer;
        z-index: 1;
    }
   
    .menu-icons .bars{
        display: block;
    }
    .header{
        transition: all .5s;
    }
    .header .close{
        display: none;
        transition: all .5s ;

    }
    .header .bars{
        display: block;
        transition: all .5s ;
    }
    
    .header.is-open .bars{
        color: #000;
        display: none;
    }
    .header.is-open .close{
        color: white;
        display: block;
    }
    
     .arrow{
        display: inline-block;
    }
    .logo-area{
       top: 0;
       left: 0px;
    }
    .header .menu{
        width: 100vw;
        transform: translateY(-100%);
        transition: all .5s;
        display: flex;
        margin: auto 0;
        height: 100vh;
        flex-direction: column;
        background-color: rgb(243, 128, 128);
        padding-left: 0;
        padding-top: 50px;
    }
    .header.is-open .menu{
        transform: translateY(0%);
    }
    .menu{
        justify-content: initial;
    }
    .menu a{
        width: 100%;
        text-transform: uppercase;
    }
    .menu li{
        position: relative;
    }
    .menu .arrow{
        position: absolute;
        right: 20px;
    }
    
    
    .menu li{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .submenu{
        position: initial;
        transform: initial;
        overflow: hidden;
        max-height: 0;
        visibility: hidden;
        opacity: 1;
    }
    .menu li:hover .submenu{
        max-height: initial;
    }
    .submenu-2{
        position: initial;
        transform: initial;
        overflow: hidden;
        max-height: 0;
        visibility: hidden;
        opacity: 1;    }
    .submenu li:hover .submenu-2{
        max-height: initial;
    }
    footer{
        flex-direction: column;
    }
    .footer-menu-item{
        margin-bottom: 20px;
    }
    .footer-menu{
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2,1fr);
    }
    
    
}

@media  screen and (max-width : 480px) {
       .container{
           padding: 50px;
       }
    }
    
    